{% extends 'base.html' %}
{% block title %} Stupid TWitter {% endblock %}
{% block content %}

<h3 class="display-1">Login</h3>
<p>Login below. Don't have an acount?  <a href="/register">Register here</a> </p>

<form method="POST">
    {{ form.hidden_tag() }}
    
    {% for field in form 
        if field.widget.input_type != 'hidden' %}
    <p>
        {{field.label}}
        {{field(class_="form-control")}}

        {% for error in field.errors %}
        <P class="form-text text-danger">{{error}}</P>
        {% endfor %}
    </p>
    {% endfor %}
    
    <button class="btn btn-success" type="submit">Login</button>

</form>

{% endblock %}